<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<forms.executeSubmit>
				<processor type="SharedSitecore.Forms.Fields.DropDown.Pipelines.ExecuteSubmit, SharedSitecore.Forms.Fields.DropDown"
						   patch:before="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.ExecuteSubmit.ExecuteActions, Sitecore.ExperienceForms.Mvc']" resolve="true">
					<FieldId>{0590b8d7-14b6-4558-bac6-9f418a43799d}</FieldId>
				</processor>
			</forms.executeSubmit>
		</pipelines>
	</sitecore>
</configuration>